@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Material3Icons.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    color: rgba(255, 255, 255, 0.6);

    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('./fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('./fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('./fonts/Inter-Bold.ttf');
}